<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Home</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main>
        <table>
            <tr>
                <th>Secretaria</th>
                <th>Medico</th>
                <th>Paciente</th>
                <th>Especialização</th>
                <th>Sala</th>
                <th>Data</th>
            </tr>
            <% agents.forEach(agent => { %>
                <tr>
                    <td><span><%= agent.Secretary %></span></td>
                    <td><span><%= agent.medic %></span></td>
                    <td><span><%= agent.patient %></span></td>
                    <td><span><%= agent.Esp %></span></td>
                    <td><span><%= agent.room %></span></td>
                    <td><span><%= agent.date.split(' ')[0].replaceAll('-','/') %> as <%= agent.date.split(' ')[1].replace(":00.000", "") %></span>
                    <form action="/delete" method="post" class="delete-form">
                        <input type="text" value="<%= agent.room %>" name="room" id="room" hidden>
                        <input type="text" value="<%= agent.date %>" name="date" id="date" hidden>
                        <button class="submit delete-td"> X </button>
                    </form></td>
                </tr>
            <% }) %>
        </table>
        <a href="/agendamento"><button class="submit">novo agendamento</button></a>
    </main>
</body>
</html>